<%- include('layout/header') %>

<!-- Title -->
<center>
  <br />
  <h1>About The Project</h1>
  <hr />
</center>

<!-- About Project-->
<div class="container">
  <br />
  <br />
  <h4>Project name: VitClass2021</h4>
  <br />
  <p>This is a NoSql database project and the main goal of this project is to showcase a connection with a nosql database(MongoDB in our case) and perform all the possible operations such as create a product entry, show it after updating, make changes in the current data, and finally delete the data if no longer needed.</p>
  <p>Technology used : NodeJs, ExpressJs & MongoDB</p>
</div>

<!-- About Team-->
<div class="container">
  <br />
  <br />
  <br />
  <br />
  <h4>Team Members</h4>
  <center>
  <br />
  <table>
    <tr>
      <th><img src="https://avatars.githubusercontent.com/u/77353829?v=4" width="150" class="img-thumbnail" /></th>
      <th><img src="https://avatars.githubusercontent.com/u/106019164?v=4" width="150" class="img-thumbnail" /></th>
      <th><img src="https://avatars.githubusercontent.com/u/70843710?v=4" width="150" class="img-thumbnail" /></th>
    </tr>
    <tr>
      <td>Dhiraj Jayswal</td>
      <td>Pradeep Kumar Chaudhary</td>
      <td>Anish wagle</td>
    </tr>
    <tr>
      <td>7000552971</td>
      <td>9556888786</td>
      <td>9629262197</td>
    </tr>
    <tr>
      <td>dhirajjayswal0123@gmail.com   &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</td>
      <td>cpradeep587@gmail.com   &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</td>
      <td>anish.wagle20@gmail.com   </td>
    </tr>
  </table>
  </center>
</div>

<%- include('layout/footer') %>

